<div class="container">
  <h1>Welcome to Code Division Flash Cards</h1>
  <p>Please log in!</p>

  <form action="/login" method="POST">
  Username: <input type="text" name="user[username]">
  <br/><br/>
  Password: <input type="text" name="user[password]">
  <br/><br/>
  <input type="submit" value="Login">
  </form>

</div>
